@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(https://fonts.gstatic.com/s/carroisgothic/v4/GCgb7bssGpwp7V5ynxmWy-RYAdd4IhfhHjBEc43Trp8.woff2) format('woff2');
}
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local('Inika'), url(https://fonts.gstatic.com/s/inika/v4/r3Z5gCAKW2R-pq9oz6gfZg.woff2) format('woff2');
}
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(https://fonts.gstatic.com/s/patuaone/v6/yAXhog6uK3bd3OwBILv_SFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
